.Form {
  display: flex;
}


.Form__input {
  width: 100%;
  height: 100%;
  padding: .75em .75em;
  border: 0;
  outline: 0;
  border-top-left-radius: 0.45em;
  border-bottom-left-radius: 0.45em;
}


.Form__button {
  width: 30%;
  cursor: pointer;
  padding: .25em;
  background-color: #0283C6;
  color: #fff;
  border: 0;
  border-top-right-radius: 0.45em;
  border-bottom-right-radius: 0.45em;
}
